Annotations:
Circle - Bold
Underline - Blank
Box - 


Diagram:

Training Dataset -> Preprocessing -> Segmentation of the annotations and the text -> Segmentation of the text (Line, Word, Character) -> Character Features and Annotation Features-> model



Training Dataset: (include link)
standard OCR dataset (CC0: Public Domain) (nice) (yung mga may nice yung sure na training dataset)
https://www.kaggle.com/datasets/preatcher/standard-ocr-dataset
Synthetic Character Set (CC0: Public Domain) (nice)
https://www.kaggle.com/datasets/shreyasubbu/synthetic-character-set/metadata

IAM On-Line Handwriting Database (unknown license, need login to download) (wag include yung mga unknown license) (pero lagay mo lang dito) ah sige
https://fki.tic.heia-fr.ch/databases/iam-on-line-handwriting-database
IAM Handwriting Database (unknown license, need login to download)
https://fki.tic.heia-fr.ch/databases/iam-handwriting-database


Preprocessing: (include link)


Scaling
https://towardsdatascience.com/preprocessing-data-feature-scaling-cc28c508e8af

Binarization
Skew Correction
Noise Removal
Thinning and Skeletonization
https://towardsdatascience.com/pre-processing-in-ocr-fc231c6035a7








Segmentation of the annotations and the text:(include link)

Kailangan natin isegment yung characters at yung mga annotations. How? May ideas ba kayo

Naisip ko, ibang ink color yung annotations eh. Like red yung annotations tapos black naman yung texts. 


Okay,
Ito naisip ko kasi
Yung app natin dalawang model
Isang model yung para sa OCR talaga
Yung isa naman ay para sa mga annotations 
Hence, naisip kong i-segment yung annotations vs text (clear ba)

Ngayon - Ang question ay necessary ba talagang isegment yung annotations vs text???? (ano opinion niyo)? (that is, if hndi isesegment, then isa lang model natin, at yung model na yun ay kayang idetect kung yung nakasulat ay character ba o isang annotation) (if this is the case, then yung target/label natin ay yung characters ng alphabet AT kung klaseng annotation siya (underline or box or circle)

Ano opinion niyo dito? (pls answer here)
Feel ko okay lang naman isegment; if ganito gagawin natin, then dalawang beses bang magagamit yung unang model? Same thoughts 
(ibang model gagamitin, basically 2 model talag iimplement natin)

Also pala, if isang model lang, diba yung segmentation natin ay Line, Word, charcter. Hindi natin ito magagamit if kasama yung mga annotations (clear ba) (gets ba to na hindi gagana yung line word at character segmentation if kasama yung annotation) clear, yeah gets










Okay. Ito pros and cons if two models gagamitin (that is, isesegment yung annotations at text):
Pros:
Fast 
easy
Cons:
Kasi currently ang naisip kong method ng pag-segment ng annotation at text ay naka-red ink yung annotations. Basically, may threshold sa pagdetermine kung red ba o black yung ink. 
For example, ang red ink ay > threshold tapos ang black ink ay < threshold. So makukuha natin yung mga annotations by getting only the drawings na may color na > threshold. 
What if pag pincture yung document, parang halos magkaparehas yung color ng black at red.
	

Pros and cons if isang model lang:
Pros:

Cons:
Hindi gagana yung Line, word, character segmentation sa annotations


First Model (para sa text, OCR): (KNN) (di pa ako sure din dito actually, kasi pwede din K-means) or Neural networks
Output: Kung ano character sa alphabet or kung ano number

2nd model (para sa annotations) (?? di pa ako sure kung ano model) pero pwede KNN or K-means or NN
Output: Kung ano yung annotation (cirlce, underline or box) AND yung position ng annotation (x, y) tapos width/height







Segmentation of the text:(include link)
https://towardsdatascience.com/segmentation-in-ocr-10de176cf373

Line segmentation
Word segmentation
Character segmentation






Character Features(include link)


Annotation Features(include link)



Model

KNN:
https://towardsdatascience.com/machine-learning-basics-with-the-k-nearest-neighbors-algorithm-6a6e71d01761#:~:text=Summary,that%20data%20in%20use%20grows



KNN + decision tree classifier
https://www.researchgate.net/publication/228560637_Feature_extraction_and_classification_for_OCR_of_Gurmukhi_script






